header {
  height: 700px;

  @media all and (max-width: 1220px) {
    height: 1300px;
  }
  @media all and (max-width: 576px) {
    height: 1000px;
  }
  @media all and (max-width: 376px) {
    height: 600px;
  }
}
.header_nav {
  background-color: #567189;
  a {
    float: left;
    padding: 25px 30px 10px 30px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    line-height: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 50%;
    font-weight: bold;
  }
}
.main-menu {
  @include flex();
  flex-direction: column;
  width: 85%;
  padding: 1px 0 0 0;
  text-align: center;
  a {
    padding: 0 10px;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }
}
