a(name="header")
header
    div.header_nav
        div.title
            a(href='#') 
                span ОСББ
        nav.main-menu 
            a(href="#header") ПРО НАС
            a(href="#main") ПОСЛУГИ